//COULEUR

$color-background-alt: #FFF !default
$color-background: #fff !default

//TYPO
$body-font-family: "Arial", sans-serif !default
$heading-font-family: "Alegreya", serif !default
$lead-font-family: $body-font-family

    